<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>proj-html-vuejs</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link rel="stylesheet" href="" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,200;1,200&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&family=Work+Sans:ital,wght@0,200;1,200&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Serif:wght@700&display=swap"
      rel="stylesheet"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.1.2/handlebars.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.1/css/all.css"
      integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp"
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Lato&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div id="app">
      <!-- INIZIO SEZIONE HEADER -->
      <header>
        <nav>
          <img src="./img/avada-bakery-logo.png" alt="" />
          <div class="navbar d-flex">
            <a href="#" class="worksans" v-for="link in navbar"
              >{{ link.text }}
            </a>
            <!-- <a href="">SHOP</a>
          <a href="">ABOUT</a>
          <a href="">GALLERY</a>
          <a href="">LOCATIONS</a>
          <a href="">JOURNAL</a>
          <a href="">CONTACT</a>
          <a href="">MY ACCOUNT</a> -->
            <a href=""><i class="fas fa-shopping-cart"></i></a>
          </div>
        </nav>
        <div class="jumbotron">
          <p class="worksans">FRESH & TASTY BAKERY EVERY DAY</p>
          <h1 class="notoserif">The Perfect Fresh Bread</h1>
          <h3 class="worksans">
            Cras consequat lectus vestibulum tortor pulvinar, quis euismod nisl
            varius. Aliquam erat volutpat. Nullam quis sagittis nibh ac nulla id
            orci tempor.
          </h3>
          <button type="button">Explore our products</button>
        </div>
      </header>
      <!-- FINE SEZIONE HEADER -->
      <!-- INIZIO SEZIONE MAIN -->
      <main>
        <div class="container">
          <!-- INIZIO SEZIONE BISCOTTI -->
          <div id="pasticceria" class="d-flex">
            <div class="shopping">
              <p class="worksans">OUR PRODUCTS</p>
              <h2 class="notoserif">
                All our delectable pastries are backed fresh in our Kitchen very
                morning, and are made with all-natural, all organic ingredients.
              </h2>
              <button type="button">Start Shopping</button>
            </div>
            <div class="biscuit d-flex">
              <img
                class="col_2"
                src="./img/choco-chip-cookies-500x638.jpg"
                alt=""
              />
              <img
                class="col_2"
                src="./img/strawberry-jam-cookies-500x638.jpg"
                alt=""
              />
            </div>
          </div>
          <!-- FINE SEZIONE BISCOTTI -->
          <!-- INIZIO SEZIONE MOMENTI SPECIALI -->
          <div id="special_moments">
            <p class="worksans text_p">CORPORATE & WEDDINGS</p>
            <h2 class="notoserif text">Baking Special Moments</h2>
            <div class="moments d-flex">
              <div class="col_2 mr_50">
                <img src="./img/corporate-bg.jpg" alt="" />
              </div>
              <div class="col_2 ml_50">
                <img src="./img/wedding-bg.jpg" alt="" />
              </div>
            </div>
          </div>
          <!-- FINE SEZIONE MOMENTI SPECIALI -->
          <!-- SEZIONE CAROSELLO DEI BISCOTTI -->
          <div id="bakery_carosello" class="d-flex">
            <div class="products">
              <h3 class="notoserif">
                Find a freshly baked product perfect for you
              </h3>
              <p class="worksans">
                Integer a nibh vitae ex porttitor rutrum et ut velit. Etiam ac
                felis at leo feugiat placerat. Sed ac nulla id orci tempor
                convallis sed.
              </p>
              <button type="button">Shop All Products</button>
            </div>
            <div class="carousel d-flex">
              <div class="col_4">
                <div class="card">
                  <div class="overlay">
                    <div class="info"><p></p></div>
                  </div>
                  <img src="./img/choco-chip-cookies-500x638.jpg" alt="" />
                </div>
                <h4 class="roboto">Choco Chip Cookies</h4>
                <p class="worksans">$18.00 – $32.00</p>
              </div>
              <div class="col_4">
                <img src="./img/strawberry-jam-cookies-235x300.jpg" alt="" />
                <h4 class="notoserif">Strawberry Jam Cookies</h4>
                <p class="worksans">$36.00 – $60.00</p>
              </div>
              <div class="col_4">
                <img src="./img/strawberry-donut-600x765.jpg" alt="" />
                <h4 class="notoserif">Strawberry Donut</h4>
                <p class="worksans">$24.00 – $48.00</p>
              </div>
              <div class="col_4">
                <img src="./img/perfect-macarons-400x510.jpg" alt="" />
                <h4 class="notoserif">Perfect Macarons</h4>
                <p class="worksans">$32.00 – $56.00</p>
              </div>
            </div>
          </div>
          <!-- FINE SEZIONE CAROSELLO DEI BISCOTTI -->
          <!-- SEZIONE PANE -->
          <div id="bread">
            <div class="col_12">
              <img class="pane" src="./img/bakery-process-1.jpg" alt="" />
            </div>
            <div class="col_6 d-flex">
              <div class="col_2">
                <img src="./img/bakery-process-2.jpg" alt="" />
              </div>
              <div class="col_2">
                <div class="bread_text">
                  <p class="worksans">DONT JUST TAKE OUR WORD FOR IT</p>
                  <h2 class="notoserif">
                    “Finally found an alternative to the mass produced products.
                    Something that incorporates real organic ingredients,
                    nutrient dense wellness while promoting sustainability and
                    activity.”
                  </h2>
                  <p class="worksans">Rachel Cooper, Founder</p>
                </div>
              </div>
            </div>
            <div class="col_12">
              <img class="delivered" src="./img/" alt="" />
            </div>
          </div>
          <!-- FINE SEZIONE PANE -->
          <!-- SEZIONE VISIT -->
          <div id="visit">
            <p class="worksans">LOCATIONS</p>
            <h2 class="notoserif visit_h">Visit our Bakeries</h2>
            <div class="d-flex">
              <div class="col_2">
                <img src="./img/new-york-bk.jpg" alt="" />
                <h2 class="notoserif city-h2">New York</h2>
                <div class="open d-flex">
                  <div class="col_3">
                    <p class="worksans city-p">CALL US</p>
                    <p class="worksans city-p">1.800.458.556</p>
                  </div>
                  <div class="col_3">
                    <p class="worksans city-p">OPEN ALL WEEK</p>
                    <p class="worksans city-p">9:00 AM – 6:00 PM</p>
                  </div>
                  <div class="col_3">
                    <button type="button">View Map</button>
                  </div>
                </div>
              </div>
              <div class="col_2">
                <img src="./img/london-bk.jpg" alt="" />
                <h2 class="notoserif city-h2">London</h2>
                <div class="d-flex">
                  <div class="col_3">
                    <p class="worksans city-p">CALL US</p>
                    <p class="worksans city-p">1.800.458.556</p>
                  </div>
                  <div class="col_3">
                    <p class="worksans city-p">OPEN ALL WEEK</p>
                    <p class="worksans city-p">9:00 AM – 6:00 PM</p>
                  </div>
                  <div class="col_3">
                    <button type="button">View Map</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- FINE SEZIONE VISIT -->
          <!-- INIZIO SEZIONE MADE -->
          <div id="made">
            <div class="row d-flex">
              <div class="col_4"><img src="./img/social-1.jpg" alt="" /></div>
              <div class="col_center">
                <p class="worksans city-p">MADE FOR SHARING</p>
                <h2 class="notoserif city-h2">Let's stay in touch</h2>
                <div class="bgt">
                  <button type="button">
                    <i class="fab fa-instagram"></i>View Map
                  </button>
                </div>
              </div>
              <div class="col_4"><img src="./img/social-2.jpg" alt="" /></div>
            </div>
            <div class="row mt_25 d-flex">
              <div class="col_4"><img src="./img/social-3.jpg" alt="" /></div>
              <div class="col_4">
                <img src="./img/social-4.jpg" alt="" />
              </div>
              <div class="col_4">
                <img src="./img/social-5.jpg" alt="" />
              </div>
              <div class="col_4"><img src="./img/social-6.jpg" alt="" /></div>
            </div>
          </div>
        </div>
        <!-- FINE SEZIONE MADE -->
        <!-- INIZIO SEZIONE ORDINE SENZA CONTAINER -->
        <div id="order">
          <div class="img_order">
            <!-- <p>TRY OUR SEASONAL PRODUCTS</p>
            <h2>Order for pick-up or delivery to your home</h2> -->
            <img src="./img/call-to-action-bg.jpg" alt="" />
          </div>
        </div>
        <!-- FINE SEZIONE ORDINE SENZA CONTAINER -->
      </main>
      <!-- FINE SEZIONE MAIN -->

      <footer class="container_footer">
        <div class="footer_a">
          <div class="row d-flex">
            <div class="col_6">
              <div class="logo">
                <img src="./img/avada-bakery-logo - Copia.png" alt="" />
              </div>
              <a href="#" class="worksans" v-for="link in footerEnd"
                >{{ link.text }}
              </a>
            </div>
          </div>
        </div>
      </footer>
    </div>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="main.js" charset="utf-8"></script>
  </body>
</html>
